<div class="activity-widget">
  <div class="activity-header">
    <h3>Recent Activity</h3>
  </div>
  <div class="activity-list">
    <div *ngFor="let activity of activities" class="activity-item">
      <div class="activity-icon" [style.background]="activity.color">
        {{ activity.icon }}
      </div>
      <div class="activity-content">
        <div class="activity-text">{{ activity.text }}</div>
        <div class="activity-time">{{ activity.time }}</div>
      </div>
    </div>
  </div>
</div>
